/* p {
  background-color: red;
  color: blue;
  font-size: 30px;
  font-weight: bold;
  width: 300px;
  height: 150px;
  border-radius: 10px;
}

img {
  width: 300px;
  height: 300px;
  border-radius: 100%;
}

div {
  background-color: purple;
}

h1 {
  background-color: green;
} */

div {
  background-color: red;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  /* border: 10px solid black; */
  /* border: 10px double black; */
  /* border: 10px dashed black; */
  border: 10px dotted black;
}

p {
  background-color: blue;
  width: 150px;
  height: 150px;
  border-radius: 100%;
}
